//Background
$bg_primary: #f0a83e;
$bg_secondary: #3c2313;
$bg-lightGrey: #fbfaf6;
$bg_darkGrey: #222222;

//Color-fonts
$font-primary: #f0a83e;
$font-secondary: #3c2313;
$font-lightGrey: #f3f3f3;
$font-darkGrey: #666666;
